body{
	margin: 0;
	background: green;
	
}

.pashalka {
	transform: translatey(200px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.pashalka img {
	height: 400px;
	animation-name: kartinka;
	animation-duration: 2s;
	animation-timing-function: ease-in;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
}

.tap{
	height: 100px;
	font-size: 15px;
	margin-top: 10px;
	animation-name: knopka;
	animation-duration: 2s;
	animation-timing-function: ease-in;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
	color: white;
	background: black;
	border-radius: 10px;

}

.tap:hover{
	background: rgb(90,215,15);
	background: linear-gradient(90deg, rgba(90,215,15,1) 25%, rgba(9,9,121,1) 49%, rgba(247,120,9,1) 78%, rgba(0,212,255,1) 100%);
}

@keyframes knopka{
	to{
		height: 150px;
		width: 150px;
		background: linear-gradient();
	}
}

@keyframes kartinka{
	to{
		height: 450px;
		width: 350px;
		background: linear-gradient();
	}
}


